*{
    font-family:  Arial, Helvetica, sans-serif;
}

html{
   
    background-image: url(images/sauti-sol-hero1.jpg);
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    background-size: cover;
    height: 100%;
    background-position: center center;
    
    
}
.navContainer{
    display: flex;
    justify-content: flex-end;
}
.bandName{
    display: flex;
    flex-direction: column;
    color:white;
    padding: 20px;
    font-size: 40px;
    font-weight: 700;
}

.tagBandName{
    font-size: 20px;
    font-style: italic;
}